div.divform {
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid gray;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 94, 0);
}


@media screen and (max-width: 750px) {
    div.divform {
        width: 100%;
    }
}

div.anuncio h3,
h4 {
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 94, 0);
    text-align: center;
}

div.thanks {
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 94, 0);
    text-align: center;
}