/* Div com as formatações do texto*/
.nossaEquipeTextoDiv {
    padding-left: 5%;
    text-align: justify;
    padding-right: 5%;
    font-weight: normal;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5s;
    text-indent: 2em;
}

/* ID do título */
#P4-titulo {
    color: #f86729;
    font-size: 28px;
}

/* Formatação do texto na página */
.P4-textoDiv {
    display: flex;
    padding-bottom: 5%;

}

/* Tranformação para diminuir foto e colocar no tamanho ideal e espaçamento ideal */
#fotoNossaEquipe {
    width: 400px;
    padding: 30px 20px;

}