@media (max-width: 750px) {

    .produtos {
        width: 45%;
    }

    #itens {
        width: 100%;
    }

    .break {
        width: 100%;
        height: 1%;
        display: flex;
    }

    #break {
        height: 1%;
    }

    /* o problema tá aqui */
    .precoProduto {
        bottom: 5%;
        top: 5%;
    }

}