/* tentando consertar os pasteis */

/* imagens */
.produtosImagens {
    width: 100px;
    height: 100px;
}

#heineken {
    width: 50px;
}

#guarana {
    width: 55px;
}

/* produtos individuais */
.produtos {
     display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 20px;
    width: 22%;
    align-items: center;
}

/* para ajustar a imagem na div dos produtos */
.divImg {
    margin-top: 20px;
}

/* bordas das imagens dos pasteis e hamburgures */
.pastImg {
    border-radius: 50px;
}

/* div geral de tudo o que não está no footer ou no header. feita para facilitar a organização */
#pagGeral {
    display: flex;
    justify-content: center;
}

/* para ajustar o texto da descrição */
.descricaoProduto {
    width: 90%;
}

/* div para organizar produtos e textos */
#itens {
    display: flex;
    flex-flow: column;
    width: 95%;
}
/* classe pGeral = produtos geral. Organiza a div dos produtos individuais */
.pGeral {
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    
    justify-content: space-evenly;
}

/* css da gambiarra pra quebrar a linha */
#break {
    width: 100%;
    height: 5%;
}

.break {
    display: none;
}

/* textos */

p,h1{
    font-family: 'Fonrine-Leight';
    color: #6d5d56;
    text-align:center;
}

p {
    width: 90%;
}

h3 {
    color: black;
    text-align: center;
    width: 100%;
}

h2 {
    display: flex;
    color: red;
    background-color: yellow;
    border-radius: 20px;
    width: 120px;
    justify-content: center;
    font-size: 30px;
}

.produtos:hover {
    background-color: whitesmoke;
}