
/* divs */
.produtosImagens {
    width: 100px;
    height: 100px;
}

#pagGeral {
    display: flex;
    justify-content: center;
}

#itens {
    display: flex;
    flex-flow: column;
    width: 95%;
}

.pGeral {
    display: flex;
    padding: 4%;
    justify-content: space-evenly;
}

.produtos {
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    align-items: center;
}

/* textos */

*{
    font-family: 'Fonrine-Leight';
    color: #6d5d56;
}

h3 {
    color: black;
}

h2 {
    display: flex;
    color: red;
    background-color: yellow;
    border-radius: 20px;
    width: 150px;
    justify-content: center;
    font-size: 30px;
}

h1 {
    
}